

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}

section {
  display: flex;
  justify-content: center;
}

th {
  font-size: xx-large;
  text-align: left;
}

button{
  margin: 5px;
}

.answers {
  text-align: left;
  width: 700px;
}

.show {
  display: block;
}

.lead {
  width: 700px;
}

#choices {
  display: flex;
  flex-direction: column;
}
